{#
/**
 * @file
 * Default theme implementation for a webform required indicator.
 *
 * Available variables:
 * - label: The required indicator label.
 *
 * @ingroup themeable
 */
#}
<div class="form-header-block">
  <span class="form-filling-notice">* {{ label }}</span>
</div>

