<div class="picture-modal">
  <div class="picture-modal__container">
    <div class="modal-toolbar">
      <div class="item-wrapper">

        <div class="modal-image-count"></div>

        <button class="btn btn-share" data-plugin="shareModal">
          <i class="mdi mdi-share-variant"></i>
        </button>
        <button class="btn btn-print">
          <i class="mdi mdi-printer"></i>
        </button>
        <a href="#" class="btn btn-download" download="test picture" target="_blank">
          <i class="mdi mdi-download"></i>
        </a>
        <button class="btn btn-close">
          <i class="mdi mdi-close"></i>
        </button>

      </div>
    </div>

    <div class="swiper-container gallery-top">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper"></div><!--/swiper-wrapper-->

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div><!--/gallery-top-->

    <div class="swiper-container gallery-thumbnails">
      <div class="image-description">
        <span class="title"></span>
      </div>
      <div class="swiper-wrapper"></div><!--/swiper-wrapper-->
    </div><!--/gallery-thumbnails-->

  </div><!--/picture-modal__container-->
</div><!--/picture-modal-container-->
